<div class="content">
  <div class="sub-nav">
    <h3 class="title">Add a Fooditem</h3>
  </div>

  <form class="" action="/dashboard/catagories/create" method="post">
    <div class="">
      <label for="catagory[name]">Name</label>
      <input type="text" name="catagory[name]" value="">
      <input type="submit" name="" value="Add catagory" class="btn-green">
    </div>

  </form>

</div>
