// /*
// ** Buttons
// */
//
//
//
// .btn {
//   border: 1px solid $color-button-1;
//   display: inline-block;
//   height: $baseline * 2;
//   min-width: 10em;
//   padding: 1.1em 1em;
//
//   color: $color-button-1;
//   text-align: center;
//   font-weight: bold;
//   font-style: normal;
//   text-transform: uppercase;
//   letter-spacing: 1px;
//
//   &:hover {
//     background-color: $color-button-1;
//     color: #fff;
//     text-decoration: none;
//   }
// }
//
// .btn-black {
//   color: #fff;
// }



.btn-green-o{
  background-color: #fff;
  color: #19BA38;
  text-transform: capitalize;
  transition: background-color 0s;
  &:hover{
    background-color: darken(#19BA38, 6%);
    text-decoration: none;
    color: #fff;
  }
}

.btn-green {
  border: 1px solid #19BA38;
  background-color: #19BA38;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
  border-radius: 4px;
  font-size: 12px;
  margin-top: 8px;
  margin-right: 21px;
  padding-right: 18px;
  padding-left: 12px;
  padding-top: 7px;
  padding-bottom: 7px;
  i{
    padding-right: 9px;
  }
  transition: background-color 2s;
  &:hover{
    background-color: darken(#19BA38, 6%);
    text-decoration: none;
    color: #fff;
  }
}
