.dashboard-errors {
  background-color: $color-link;
  font-weight: bold;
  color: #fff;
  padding: 7px 21px;
}

.flash-sucess {
  font-weight: bold;
  color: #fff;
  background-color: rgba(25, 186, 56, 0.73);
  padding: 7px 21px;
  margin-top: 0;
  padding-top: 7px;
}
