
form {
  label {
    margin-right: 64px;
    display: inline-block;
    width: 150px;
  }
  tr{
    height: 64px;
  }
  margin: 21px;
  padding-top: 21px;
  padding-bottom: 21px;
  input[type="text"],
  input[type="email"],
  input[type="password"],
  textarea{
    width: 550px;
    border: 1px solid #999999;
    border-radius: 2px;
    height: 34px;
    outline: none;
    padding: 6px 12px;
    &:focus{
      border-color: darken(#999999, 20%);
    }
  input .date-input{
    width: 150px;
  }
  }

  textarea{
    height: 100px;
  }
}
input[type="submit"] {
  margin-right: 0px;
}


.align-right{
  text-align: right;
}

.form-group{
  margin-bottom: 21px;
}

#datepicker{
  width: 120px;
}
