<form class="" action="/admin/site/gallery" method="post" enctype='multipart/form-data'>
  <input type="file" name="file" value="">
  <input type="submit" name="" value="upload">
</form>

<%= @image %>

<img src="https://res.cloudinary.com/fypeventapp/image/upload/iewt9lhg2dnmfjgrrwmw.jpg" alt="">
