<div class="content">
  <div class="sub-nav">
    <h3 class="title">My Events</h3>
  </div>
    <table class="table">
      <thead>
        <tr>
          <th>Date</th>
          <th>event</th>
          <th>Timings</th>
          <th>Event Type</th>
          <th>Action</th>
        </tr>
      </thead>
      <% @events.each do |event| %>
        <tr>
          <!-- <td><%= event.name %></td>
          <td><%= event.name %></td>
          <td><%= event.name %></td>
          <td><%= event.name %></td> -->
          <td>Dummy</td>
          <td>Dummy</td>
          <td>Dummy</td>
          <td>Dummy</td>
          <td>
            <a href="#" class="update-link">Update</a>
            <a href="#" class="del-link">Delete</a>
          </td>
        </tr>
      <% end %>
    </table>
</div>
