<div class="content">
  <div class="sub-nav">
    <h3 class="title">Event</h3>
  </div>

  <div class="venue-details">
    <p><span>Event :</span> <%= @event.event_type %></p>
    <p><span>Date :</span> <%= @event.booking_date %></p>
    <p><span>Venue: </span> <%= @event.event_type %></p>
    <p><span>Status: </span> <%= @event.event_type %></p>
  </div>

    <table class="table">
      <thead>
        <tr>
          <th class="pad-21">Name</th>
          <th>Quantity</th>
          <th>Details</th>
          <th>Action</th>
        </tr>
      </thead>



    </table>
</div>
