<form class="" action="/dashboard/fooditems/create" method="post">

  <div class="">
    <label for="fooditem[name]">Name :</label><br />
    <input type="text" name="fooditem[name]" value="">
  </div>
  <div class="">
    <label for="fooditem[cuisine]">Cuisine :</label><br />
    <input type="text" name="fooditem[cuisine]" value="">
  </div>
  <div class="">
    <label for="fooditem[unit_of_issue]">Unit of issue :</label><br />
    <input type="text" name="fooditem[unit_of_issue]" value="">
  </div>
  <div class="">
    <label for="fooditem[desciption]">Desciption :</label><br />
    <input type="text" name="fooditem[desciption]" value="">
  </div>
  <div class="">
    <input type="submit" value="Create">
  </div>

</form>
