<form class="form" action="/dashboard/venues/create" method="post">
  <div class="">
    <label for="venue[name]">Name</label><br />
    <input type="text" name="venue[name]" value="">
  </div>
  <div class="">
    <label for="venue[city]">City</label><br />
    <input type="text" name="venue[city]" value="">
  </div>
  <div class="">
    <label for="venue[location]">Location</label><br />
    <input type="text" name="venue[location]" value="">
  </div>
  <div class="">
    <label for="venue[desciption]">Desciption</label><br />
    <textarea name="venue[desciption]" rows="8" cols="50"></textarea>
  </div>
  <div class="">
    <input type="submit" value="Create">
  </div>
</form>
