<h2>Add a city</h2>

<form class="" action="/dashboard/cities/create" method="post">
  <div class="">
    <label for="city[name]">Name</label><br />
    <input type="text" name="city[name]" value="">
  </div>
  <div class="">
    <input type="submit" name="" value="Add city">
  </div>
</form>
