<div class="sub-nav">
  <h3 class="title">Add a city</h3>
</div>

<form class="" action="/dashboard/cities/create" method="post">
  <div class="">
    <label for="city[name]">Name</label>
    <input type="text" name="city[name]" value="">
    <input type="submit" name="" value="Add city" class="btn-green">
  </div>

</form>
