
<section>
  <div class="container hero">
    <h1>Festiva</h1>
  </div>
</section>

<!-- MOST POPULAR VENUES -->
<section>
  <div class="container main-content">
    <header class="section-header center-content">
      <h2>Most Popular Venues</h2>
      <p><a href="">Browse All Venues &rarr;</a></p>
    </header>

    <div class="row">
      <div class="col-lg-4">
        <div class="venue-thumb">
          <a href="/venues/id/show"><img src="images/portfolio-thumb-1.jpg" alt="venue image"></a>
          <div class="hover-contents">
            <h3>This is the venue name</h3>
            <p>Click for details</p>
          </div>
        </div><!-- end venue-thumb -->
      </div>
      <div class="col-lg-4">
        <div class="venue-thumb">
          <a href="/venues/id/show"><img src="images/portfolio-thumb-2.jpg" alt="venue image"></a>
          <div class="hover-contents">
            <h3>This is the venue name</h3>
            <p>Click for details</p>
          </div>
        </div><!-- end venue-thumb -->
      </div>
      <div class="col-lg-4">
        <div class="venue-thumb">
          <a href="/venues/id/show"><img src="images/portfolio-thumb-3.jpg" alt="venue image"></a>
          <div class="hover-contents">
            <h3>This is the venue name</h3>
            <p>Click for details</p>
          </div>
        </div><!-- end venue-thumb -->
      </div>
    </div><!-- end row -->
    <div class="row">
      <div class="col-lg-4">
        <div class="venue-thumb">
          <a href="/venues/id/show"><img src="images/portfolio-thumb-4.jpg" alt="venue image"></a>
          <div class="hover-contents">
            <h3>This is the venue name</h3>
            <p>Click for details</p>
          </div>
        </div><!-- end venue-thumb -->
      </div>
      <div class="col-lg-4">
        <div class="venue-thumb">
          <a href="/venues/id/show"><img src="images/portfolio-thumb-5.jpg" alt="venue image"></a>
          <div class="hover-contents">
            <h3>This is the venue name</h3>
            <p>Click for details</p>
          </div>
        </div><!-- end venue-thumb -->
      </div>
    </div><!-- end row -->

  </div><!-- end container -->
</section>
