
<section>
  <div class="container hero">
    <h2>Login</h2>
  </div>
</section>

<section>
  <div class="container">
    <div class="row">
        <form class="" action="/auth/login" method="post">
          <div class="form-group">
            <label for="">Email Address </label> <br />
            <input type="email" name="user[email]" value="">
          </div>
          <div class="form-group">
            <label for="user[password]">Password</label> <br />
            <input type="password" name="user[password]" />
          </div>
          <div class="form-group">
            <input type="submit" value="Log In" class="btn-green" />
          </div>
        </form>
    </div>
  </div>
</section>
